<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="b9c20af5feee42d0a60ae91d0e4676bd" class="chart-container" style="width:90%; height:280%; "></div>
    <script>
        var chart_b9c20af5feee42d0a60ae91d0e4676bd = echarts.init(
            document.getElementById('b9c20af5feee42d0a60ae91d0e4676bd'), 'white', {renderer: 'canvas'});
        var option_b9c20af5feee42d0a60ae91d0e4676bd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u53d1\u75c5\u6570",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 30,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "0-20\u5c81",
                    "value": 944
                },
                {
                    "name": "20-30\u5c81",
                    "value": 8881
                },
                {
                    "name": "30-40\u5c81",
                    "value": 13538
                },
                {
                    "name": "40-60\u5c81",
                    "value": 26102
                },
                {
                    "name": "60-80\u5c81",
                    "value": 13889
                },
                {
                    "name": "80\u5c81\u53ca\u4ee5\u4e0a",
                    "value": 219
                }
            ],
            "radius": [
                "10%",
                "30%"
            ],
            "center": [
                "20%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "margin": 8
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        },
        {
            "type": "pie",
            "name": "\u6b7b\u4ea1\u6570",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "0-20\u5c81",
                    "value": 199
                },
                {
                    "name": "20-30\u5c81",
                    "value": 1831
                },
                {
                    "name": "30-40\u5c81",
                    "value": 3635
                },
                {
                    "name": "40-60\u5c81",
                    "value": 7196
                },
                {
                    "name": "60-80\u5c81",
                    "value": 5440
                },
                {
                    "name": "80\u5c81\u53ca\u4ee5\u4e0a",
                    "value": 120
                }
            ],
            "radius": [
                "10%",
                "30%"
            ],
            "center": [
                "62%",
                "55%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "margin": 8
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        }
    ],
    "legend": [
        {
            "data": [
                "0-20\u5c81",
                "20-30\u5c81",
                "30-40\u5c81",
                "40-60\u5c81",
                "60-80\u5c81",
                "80\u5c81\u53ca\u4ee5\u4e0a"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "aliceblue"
            },
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": false,
            "text": "\u5168\u56fd\u6309\u5e74\u9f84\u827e\u6ecb\u75c5\u4eba\u6570\u7edf\u8ba1",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_b9c20af5feee42d0a60ae91d0e4676bd.setOption(option_b9c20af5feee42d0a60ae91d0e4676bd);
            window.addEventListener('resize', function(){
                chart_b9c20af5feee42d0a60ae91d0e4676bd.resize();
            })
    </script>
</body>
</html>
